.sticky-footer {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-top: 100%;
}

.modal-content {
    display: flex;
    flex-direction: column;
}

.modal-header {
    text-align: center;
}

.modal-body {
    display: flex;
    justify-content: center;
}

#pdf-embed {
    width: 100%;
    height: 80vh;
    /* Ajuste este valor conforme necessário */
}

.presidente-nao-vota .vote-button {
    display: none;
}

/* Estilo para telas com largura máxima de 768px (como tablets em modo retrato) */
@media (max-width: 768px) {
    .embed-pdf {
        width: 100%;
        height: 400px;
    }
}

/* Estilo para telas com largura máxima de 480px (como telefones celulares em modo retrato) */
@media (max-width: 480px) {
    .embed-pdf {
        width: 100%;
        height: 300px;
    }
}
